* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  .on{
    opacity: 1;
  }
  
#prev-btn{
    font-family: 'Franklin Gothic Medium';
    width: 40px;
    height: 30px;
    
}
#next-btn{
    font-family: 'Franklin Gothic Medium';
    width: 40px;
    height: 30px;
    
}

